<template>
  <div class="main">
    <header>
      <div class="inside-icon">
        <input
          type="text"
          placeholder="Artistas, músicas ou podcasts"
          class="search"
        />
        <i class="mdi mdi-magnify"></i>
      </div>
      <ul class="account">
        <li>
          <i class="mdi mdi-bell-outline notification">
            <span>2</span>
          </i>
        </li>
        <li>
          <div class="perfil">
            <img src="../assets/user.png" />
            <h2>Hi, Felipe!</h2>
          </div>
        </li>
        <li>
          <i class="mdi mdi-cog"></i>
        </li>
      </ul>
    </header>
    <section>
      <div class="recommended ">
        <h1>RECOMMENDED <i class="mdi mdi-thumb-up"></i></h1>
        <div class="grid-recommended ">
          <div>
            <img src="../assets/Rectangle_4.png" />
          </div>
          <div>
            <img src="../assets/Rectangle_3.png" />
          </div>
          <div>
            <img src="../assets/Rectangle_2.png" />
          </div>
          <div>
            <img src="../assets/Rectangle_1.png" />
          </div>
          <button>
            <p>Atualizar Recomendações</p>
            <i class="mdi mdi-refresh"></i>
          </button>
        </div>
      </div>
      <div class="grid-info">
        <div class="banner"></div>
        <div class="recent-playlist">
          <h3>Recently Playlist</h3>
          <ul>
            <li>
              <div class="playlist">
                <img src="../assets/album.png" />
                <div class="playlist-text">
                  <h1>My Playlist</h1>
                  <p>10 songs</p>
                </div>
                <button><i class="mdi mdi-play"></i></button>
              </div>
            </li>
            <li>
              <div class="playlist">
                <img src="../assets/album.png" />
                <div class="playlist-text">
                  <h1>My Playlist</h1>
                  <p>10 songs</p>
                </div>
                <button><i class="mdi mdi-play"></i></button>
              </div>
            </li>
            <li>
              <div class="playlist">
                <img src="../assets/album.png" />
                <div class="playlist-text">
                  <h1>My Playlist</h1>
                  <p>10 songs</p>
                </div>
                <button><i class="mdi mdi-play"></i></button>
              </div>
            </li>
          </ul>
        </div>
        <div class="liked-songs">
          <h2>Liked Songs <i class="mdi mdi-heart"></i></h2>
          <table>
            <thead>
              <th>Title</th>
              <th>Artist</th>
              <th></th>
            </thead>
            <tbody>
              <tr>
                <td>Cops</td>
                <td>Vanic x K. Flay</td>
                <td class="play"><i class="mdi mdi-play"></i></td>
              </tr>
              <tr>
                <td>All Time Low</td>
                <td>John Belliow</td>
                <td class="play"><i class="mdi mdi-play"></i></td>
              </tr>
              <tr>
                <td>Star Shopping</td>
                <td>Lil Peep</td>
                <td class="play"><i class="mdi mdi-play"></i></td>
              </tr>
              <tr>
                <td>Stressed Out</td>
                <td>Twenty One Pilots</td>
                <td class="play"><i class="mdi mdi-play"></i></td>
              </tr>
              <tr>
                <td>Crossfire</td>
                <td>Stephen</td>
                <td class="play"><i class="mdi mdi-play"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.main {
  --search-background: #1a1d20;
  --search-text: white;
  --playlist: #070707;
}

.dark-mode .main {
  --search-background: white;
  --search-text: black;
  --playlist: white;
}

.main {
  padding: 20px 32px;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inside-icon {
  position: relative;
  height: max-content;
}

.inside-icon i {
  position: absolute;
  font-size: 1.3em;
  top: 10px;
  left: 20px;
  color: #949494;
}

.search {
  width: 330px;
  padding: 14px;
  text-indent: 36px;
  box-sizing: border-box;
  color: var(--search-text);
  background-color: var(--search-background);
  border-radius: 32px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
}

.account {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  align-items: center;
  justify-content: center;
}

.account i {
  padding-bottom: 2px;
  cursor: pointer;
}

.account i:hover {
  color: var(--spotify);
  border-bottom: 2px solid var(--spotify);
}

.perfil {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 30% 70%;
  column-gap: 12px;
}

.perfil img {
  width: 45px;
}

.perfil h2 {
  text-align: center;
  font-size: 13pt;
  font-weight: 400;
}

.notification {
  position: relative;
  height: max-content;
  font-size: 1.4em;
  margin-right: 16px;
  color: var(--spotify);
}

.notification span {
  position: absolute;
  font-size: 0.5em;
  top: -4px;
  font-style: normal;
}

section {
  width: 100%;
  display: grid;
  grid-template-columns: 31% 69%;
  column-gap: 24px;
}

.hide-menu section {
  grid-template-columns: 27% 73%;
}

.recommended {
  padding: 8px 0;
  box-sizing: border-box;
  margin-left: 8px;
}

.recommended h1 {
  font-weight: 500;
  margin: 8px 4px;
  font-size: 15pt;
}

.recommended h1 > i {
  margin-left: 4px;
}

.grid-recommended {
  display: grid;
  margin: auto;
  margin-top: 8px;
  column-gap: 16px;
  row-gap: 12px;
  grid-template-columns: 50% 50%;
  padding: 2px;
  box-sizing: border-box;
}

.grid-recommended div {
  position: relative;
  height: max-content;
}

.grid-recommended img {
  width: 100%;
  max-height: 190px;
  transition: all 0.3s ease;
  border-radius: 12px;
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.1));
  cursor: pointer;
}

.grid-recommended img:hover {
  transform: scale(1.1);
}

.grid-recommended button{
  display: flex;
  grid-column: 1 /3;
  justify-self: center;
  column-gap: 8px;
  color: var(--search-text);
  background-color: var(--search-background);
  padding: 6px 20px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all .2s ease, border 0s linear;
  align-items: center;
  margin-top: 12px;
}

.grid-recommended button:hover{
  border-radius: 0;
  border-bottom: 2px solid var(--spotify);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.06);
}

.grid-recommended button:hover i{
  color: var(--spotify);
  transform: rotate(360deg);
} 

.grid-recommended button p{
  font-size: 12pt;
}

.grid-recommended button i{
  font-size: 1.5em;
   transition: all .2s ease-in;
}

.grid-info {
  display: grid;
  width: 100%;
  grid-template-columns: 45% 55%;
  margin-top: 24px;
  column-gap: 4px;
}

.hide-menu .grid-info {
  grid-template-columns: 48% 52%;
}

.banner {
  grid-column: 1 / 3;
  justify-self: center;
  border-radius: 10px;
  margin-top: 12px;
  width: 90%;
  max-height: 170px;
  height: 160px;
  background: url(../assets/Rectangle_8.png) center no-repeat;
  background-size: cover;
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.06));
}

.recent-playlist {
  box-sizing: border-box;
  padding: 0px 16px;
  margin-left: 6%;
  margin-top: 12px;
}

.recent-playlist ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 16px;
}

.recent-playlist h3 {
  font-weight: 100;
  margin-bottom: 8px;
}

.playlist {
  display: grid;
  grid-template-columns: 30% 50% 20%;
  justify-content: center;
  align-items: center;
  background-color: var(--playlist);
  border-radius: 8px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
}

.playlist button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: var(--spotify);
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.playlist button:hover {
  transform: scale(1.2);
  filter: invert();
}

.playlist i {
  font-size: 1.6em;
  line-height: 32px;
}

.playlist-text h1 {
  font-weight: 500;
  font-size: 1.3em;
}

.playlist p {
  color: var(--spotify);
  font-size: 0.8em;
}

.liked-songs {
  width: 90%;
  height: 95%;
  margin: 12px 0;
  background: linear-gradient(
    to bottom,
    rgba(63, 231, 99, 0.8),
    rgba(80, 175, 158, 0.8)
  );
  border-radius: 8px;
}

.liked-songs h2 {
  font-weight: 500;
  margin: 16px 24px;
  font-size: 16pt;
  color: var(--search-text);
}

.liked-songs table {
  width: 90%;
  margin: 0 auto;
  color: var(--search-text);
}

.liked-songs th {
  padding: 4px 2px;
  box-sizing: border-box;
  font-size: 13pt;
  text-align: left;
  font-weight: 500;
}

.liked-songs td {
  padding: 3px;
  font-size: 11pt;
  box-sizing: border-box;
}

.liked-songs .play {
  font-size: 1.2em;
  cursor: pointer;
}
</style>
