<template>
  <nav class="menu fixed" :class="{ 'hide-menu': menuIsHide }">
    <button class="btn-hide-menu" @click="hideMenu($event)">
      <i class="mdi mdi-chevron-double-left"></i>
    </button>
    <div class="logo">
      <img src="../assets/logo-hide.png" v-show="menuIsHide" />
      <img src="../assets/logo.png" v-show="!menuIsHide" />
    </div>
    <ul v-for="(menu, i) in menuArray" :key="i" class="menu-list">
      <li v-for="(item, i) in menu.li" :key="i">
        <i :class="`mdi mdi-${item.icon}`"></i>
        <p v-show="!menuIsHide">{{ item.label }}</p>
      </li>
      <h4 v-if="menu.h4" v-show="!menuIsHide">{{ menu.h4 }}</h4>
    </ul>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      menuIsHide: false,
      menuArray: [
        {
          li: [
            { label: "new", icon: "fire" },
            { label: "radio", icon: "radio" },
          ],
          h4: "Your Library",
        },
        {
          li: [
            { label: "musics", icon: "music" },
            { label: "albums", icon: "album" },
            { label: "artists", icon: "microphone-variant" },
            { label: "podcasts", icon: "podcast" },
          ],
          h4: "Your Library",
        },
        {
          li: [
            { label: "liked songs", icon: "cards-heart" },
            { label: "Illenium", icon: "playlist-play" },
            { label: "new playlist", icon: "plus" },
          ],
        },
      ],
    };
  },
  methods: {
    hideMenu(event) {
      const html = event.path[event.path.length - 3];
      html.classList.toggle("hide-menu");
      this.menuIsHide = !this.menuIsHide;
    },
  },
};
</script>

<style scoped>
h4 {
  text-align: center;
  font-weight: 400;
  color: var(--text-secondary);
  text-transform: uppercase;
  margin-bottom: 4px;
  white-space: nowrap;
}

.menu {
  width: var(--menu-width);
  height: 100vh;
  background-color: var(--primary);
  transition: all 0.2s ease;
}

.btn-hide-menu {
  height: 0;
  float: right;
  margin: 8px;
  background-color: transparent;
  padding: 0 2px;
  border-radius: 8px;
}

.btn-hide-menu:hover i {
  color: var(--spotify);
}

.btn-hide-menu i {
  display: block;
  font-size: 1.8em;
  color: var(--text);
  cursor: pointer;
  transition: all 0.2s ease;
}

.logo {
  width: 130px;
  margin: 12px auto;
  margin-bottom: 0;
}

.logo img {
  width: 100%;
}

.menu-list,
.menu-list li {
  display: flex;
  flex-direction: column;
}

.menu-list {
  box-sizing: border-box;
  row-gap: 8px;
  padding: 0 24px;
}

.menu-list li {
  flex-direction: row;
  column-gap: 12px;
  font-size: 12pt;
  padding: 8px;
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.menu-list li:hover {
  background-color: var(--text-secondary);
  border-radius: 4px;
}
.dark-mode .menu-list li:hover {
  background-color: var(--spotify);
  color: white;
}

.menu-list p {
  text-transform: capitalize;
}

.menu-list i {
  font-size: 1.5em;
  line-height: 16px;
}

.hide-menu .menu-list {
  margin-top: 12px;
  justify-content: center;
  align-items: center;
}

.hide-menu .menu-list li {
  padding: 10px 8px;
}

.hide-menu .logo {
  margin-top: 42px;
  width: 40px;
}

.hide-menu .btn-hide-menu {
  display: block;
  margin: 16px auto;
  margin-bottom: 0;
  float: none;
}

.hide-menu .btn-hide-menu i {
  transform: rotate(180deg);
}

@media only screen and (max-width: 728px){
  .menu{
    display: none;
  }
}
</style>