<template>
  <nav class="player fixed">
    <div class="grid">
      <div class="music">
        <img src="../assets/album.png" />
        <div class="music-text">
          <h3>Crawling</h3>
          <p>Illenium</p>
        </div>
      </div>
      <div class="grid controls">
        <ul class="btn-control">
          <li>
            <i class="mdi mdi-shuffle-variant small"></i>
          </li>
          <li>
            <i class="mdi mdi-rewind"></i>
          </li>
          <li>
            <i class="mdi mdi-pause"></i>
          </li>
          <li>
            <i class="mdi mdi-fast-forward"></i>
          </li>
          <li>
            <i class="mdi mdi-repeat small"></i>
          </li>
          <p>2:43/4:02</p>
        </ul>
        <progress value="70" max="100"></progress>
      </div>
      <button class="btn-dark" @click="setDarkMode($event)">
        <i class="mdi mdi-brightness-2"></i>
      </button>
    </div>
  </nav>
</template>

<script>
export default {
  methods:{
    setDarkMode(event){
      const html = event.path[event.path.length - 3]
      html.classList.toggle('dark-mode')
    }
  }
};
</script>

<style scoped>
.player {
  bottom: 0;
  width: 100vw;
  height: 80px;
  background-color: var(--terciary);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.grid {
  display: grid;
  padding: 8px 18px;
  box-sizing: border-box;
  grid-template-columns: 25% 50% 25%;
}

.music {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-self: start;
  grid-template-columns: 50% 50%;
  margin-top: 8px;
  column-gap: 5px;
  transition: all 0.2s ease;
}

.music img {
  width: 50px;
}

.music-text h3 {
  font-weight: 400;
  color: var(--spotify);
}

.controls {
  grid-template-columns: 100%;
}

.btn-control {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 16px;
  margin-bottom: 4px;
  cursor: pointer;
}

.btn-control i{
  font-size: 1.5em;
  transition: all .2s ease;
  box-sizing: border-box;
}

.btn-control i:hover{
  color: var(--spotify);
  border-bottom: 1px solid var(--spotify);
}

.btn-control .small{
  font-size: 1.1em;
  line-height: 28px;
}

.btn-control p{
  position: absolute;
  top: 8px;
  font-size: 10pt;
  right: 0;
}

.btn-dark{
  justify-self: end;
}

.btn-dark i{
  display: block;
  transform: rotate(20deg);
  color: var(--text);
  font-size: 1.7em;
  cursor: pointer;
  transition: all .2s ease;
}

.btn-dark i:hover{
  color: var(--spotify);
}

</style>