<template>
  <div>
    <Menu></Menu>
    <Player></Player>
    <main>
      <Main></Main>
    </main>
  </div>
</template>

<script>
import Main from "./components/Main.vue";
import Menu from "./components/Menu.vue";
import Player from "./components/Player.vue";

export default {
  components: {
    Menu,
    Player,
    Main,
  },
};
</script>

<style>
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary: #262a2d;
  --secondary: #111416;
  --terciary: rgba(32, 36, 39, 0.4);

  --text: #afafaf;
  --text-secondary: #485055;
  --spotify: #1ed760;

  --menu-width: 236px;
}

.dark-mode {
  --primary: #f9fffb;
  --secondary: #f0f0f0;
  --terciary: rgba(255, 255, 255, 0.5);

  --text: #3f3f3f;
  --text-secondary: #bec6ca;
}

.hide-menu {
  --menu-width: 80px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  color: var(--text);
  font-family: "roboto", sans-serif;
  transition: all 0.05s ease;
}

ul {
  list-style: none;
}

button,
input {
  background-color: transparent;
  border: none;
}

progress {
  width: 100%;
  height: 4px;
  background: #c4c4c4;
  border-radius: 32px;
}

progress::-webkit-progress-bar {
  background: transparent;
}

progress::-webkit-progress-value {
  border-radius: 30px;
  background: var(--spotify);
}

.fixed {
  position: fixed;
}

main {
  height: 100vh;
  margin-left: var(--menu-width);
  background-color: var(--secondary);
  transition: all 0.2s ease;
}

@media only screen and (max-width: 728px) {
  :root {
    --menu-width: 0;
  }
}
</style>
